.login-body {
  display: grid;
  justify-content: center;
  font-family: 'Archivo', Arial;
  text-align: center;
  font-size: 4vw;
  background-color: #032033;
  color: white;
  margin: 6vw;
  max-height: 5em;
}

.homepage_text {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  margin: 1em 0 1em 0;
  color: #ffffff;
}

.login_button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1ed760;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

@media only screen and (max-width: 1284px) {
  .login-body {
    font-size: 4vw;
    background-color: #032033;
    color: white;
    margin: 7em 2em 0 2em;
  }
  .homepage_text {
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
    margin: 3em 0 3em 0;
    color: #ffffff;
  }
}
